.container-fluid{
    display: flex;
     justify-content: center; 
    align-items: center;
    height: 600px;
    background-size: auto; 
}
h3{
    padding-left:70px; 
    color: aliceblue;
}
h4{
    padding-left: 40px;
    color: aliceblue;
}   

.sign{
    background: white;
    width:340px;
    padding:20px;
    border-radius: 10px;
    font-family: "Arial", Times, serif;
}
a{
    color: yellow;
    size:20px;
}
.sign{
    background-color: rgb(238, 231, 198);
}