a:hover{
    text-decoration-line: none;
}

a{
    color: #000000;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
}

#logo{
    font-size:40px; 
    font-family: 'Berkshire Swash', cursive;
}

.notLog{
    margin-left: 450px;
}
.Log{
    margin-left:250px;
    margin-right:50px;
}
.navbar
{
    margin-bottom: 0px;
}
