<div class="container-fluid" id="background" [ngStyle]="{'background-image': 'url(' + path + ')'}">
  <div class="row">
    <div class="col-md-4 login">
      <div class="col-md-12 text">
        <h1>
          Build for travellers
        </h1>
      </div>
      <div class="col-md-12">
        <form #SignupForm="ngForm" (ngSubmit)='SubmitTourInformationForm(SignupForm)' data-toggle="validator">
          <div class="form-group">
            <label class=" control-label">E-Mail</label>
            <div class="inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-envelope"></i>
                </span>
                <input type="text" class="form-control" id="emailaddress" required [(ngModel)]="Email" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                  #email="ngModel">
              </div>
              <small id="emailHelp" class="form-text text-muted">Never share your email with anyone else.</small>
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                <div [hidden]="!email.hasError('required')">Email is required</div>
                <div [hidden]="!email.hasError('pattern')">Email format should be
                  <small>
                    <b>joe@abc.com</b>
                  </small>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="name">Password</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="Password" name="password" minlength="8" #password="ngModel">
          </div>
          <button type="submit" class="btn btn-primary btn-block" type="submit" [disabled]="!SignupForm.form.valid">Sign up for Tour Travel</button>
        </form>
      </div>
    </div>
  </div>
</div>