.container-fluid{    
    display: flex;
    justify-content: center; 
   align-items: center;
   height: 600px;
   background-size: auto; 
}
.login{ 
    background-color: rgb(233, 240, 247);
    width:400px;
    padding:15px;
    border-radius: 10px;
    font-family: "Arial", Times, serif;
}
a{
    color:white;
}
#background{
    background-repeat: no-repeat;
    background-attachment: fixed;
}