.book{
    margin-top:50px;
    margin-left:550px;    
    width:200px;
}
.data{
    margin-bottom:20px;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
.show{
      margin-top:100px;
}
.table tr.active td {
    background-color:#123456 !important;
    color: white;
}

label{
      color: rgb(7, 98, 158);
      size: 20px;
}
th{
    font-size: 20px;
    color: rgb(4, 69, 107)
}
td{
    font-size: 15px;
    color: rgb(39, 118, 192);
}
