<div class="container-fluid" [ngStyle]="{'background-image': 'url(' + photo + ')'}">
  <div class="col-md-12">
    <form #bookingForm="ngForm" (ngSubmit)='SubmitTourInformationForm(tourForm)'>
      <div class="data">
        <div class="form-group col-md-4">
          <label for="Source">From</label>
          <select #selectOption (change)='getSourceValue(selectOption.value)' [(ngModel)]="source" name="sour" class='form-control'
            required>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="Destination">To</label>
          <br>
          <select #selectOption1 (change)='getDestValue(selectOption1.value)' [(ngModel)]="destination" name="dest" class='form-control'
            required>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label class="date">Date</label>
          <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="date" required></my-date-picker>
        </div>
      </div>

      <div class="form-group col-md-12 book">
        <button class="btn btn-primary" [disabled]="!bookingForm.form.valid" (click)="ShowTrains()">Show Trains</button>
      </div>
    </form>
  </div>
  <div class="col-md-12" id="div_img">
    <ng4-loading-spinner></ng4-loading-spinner>
  </div>
  <div *ngIf="dummyData">
    <h3>No data found</h3>
  </div>
  <div *ngIf="againRequest">
    <h3>Sorry!!There might be error with our server Please Request again</h3>
  </div>
  <div *ngIf="noTrain">
    <h3>There is no train of ths route</h3>
  </div>
  <div class="col-md-12 show" *ngIf="showTable">
    <br>
    <br>
    <div>
      <table class="table table-bordered">
        <thead>
          <th>FROM</th>
          <th>Train Name</th>
          <th>Departure Time</th>
          <th>Arrival Time</th>
          <th>Duration</th>
          <th>Train Number</th>
          <th>Select</th>
        </thead>
        <tr *ngFor="let data of arr; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
          <td>{{data.from_station.name}}-{{data.to_station.name}}</td>
          <td>{{data.name}}</td>
          <td>{{data.src_departure_time}}</td>
          <td>{{data.dest_arrival_time}}</td>
          <td>{{data.travel_time}}</td>
          <td>{{data.number}}</td>
          <td>
            <input type="checkbox" name="check" (change)="check(i)">
          </td>
        </tr>
      </table>
      <br>
      <button class="btn btn-primary" *ngIf="loggedIn && selected" (click)="bookFlight()">Book Flights</button>
      <button class="btn btn-primary" *ngIf="notLogin && selected" (click)="bookFlight()">Book Flights</button>
    </div>
  </div>
</div>